body{
   background-color: #F0E6E3;
}

.canvas{
    border: 2px solid black;
    /* background-color: #CEaAA1; */
    background-color: #E2CCC7;
}
#firstpara{
    font-size: 40px;
    font-weight: 700;
    color: #CEaAA1;
    margin-top: 30px;
    text-align: center;
}

.top, .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    
}

.block, input, select, .btn{
    width: 80%; /* 80% of its parent's width*/
    font-weight: bold;
    /* color: #CEaAA1; */
    
}

/* Trick to Centre the container */
.top> .block{
    margin: 10px;
}

.bottom>button{
    margin: 10px;
}

.block>p{
    margin: 10px auto;
    width: 50%;
}
.main{   
    position: absolute;
    top: 50%;  /* 50% of its own width*/
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    box-shadow: 5px 10px #E2CCC7;
}